<div class="xl:flex">
  <%= render 'converters/header' %>

  <div class="p-6 bg-gray-50 text-gray-800 text-sm">
    <h3 class="text-lg text-gray-800 py-3 uppercase">FAQ</h3>
    <ol>
      <li>
        <strong class="text-gray-600">How to download and process the company's financial statement before using it in Fintor?</strong><br>
        <ol>
          <li>1. Go to Indonesian Stock Exhange (IDX) website at <a href="https://www.idx.co.id/perusahaan-tercatat/laporan-keuangan-dan-tahunan/"><em>Laporan Keuangan dan Tahunan </em></a></li>
          <li>2. Select the following: <em class="text-red-900">Jenis Laporan: Laporan Keuangan, Jenis Efek: Saham</em></li>
          <li>3. Enter company's 4-letter ticker, e.g. ADES. You can enter multiple companies at once. </li>
          <li>4. Select the year. We only support 2018-2020. </li>
          <li>5. Select <em class="text-red-900">Tahunan </em>as the period, then click <em class="text-red-900">Cari</em></li>
          <li>6. Search result will be shown. Click the file with .xlsx extension to download it. Usually the file name follows the format <em class="text-red-900">FinancialStatement-[year]-Tahunan-[company's ticker].xlsx</em>. If no result is shown, it means that the data is not available for the particular year.</li>
          <li>7. Repeat the search for other years that you want to include. For example, you want to extract ADES financial info for 2018, 2019, and 2020. It means that youd need to first download the 2018 statement, then change the <em class="text-red-900">Tahun</em>search criteria to 2019 statement (and download it), and change again the search criteria to 2020. All other criteria should remain the same.</li>
          <li>8. <strong class="text-red-900">IMPORTANT</strong> Once downloaded, you have to open the file in Excel, then save it. Only after that the file can be used in Fintor. Directly putting downloaded files without opening and saving it will result in error.</li>
        </ol>


      </li><br>
      <li>
        <strong class="text-gray-600">Which line items are currently can be extracted by Fintor? </strong><br>
        <ul>
          <li>total current assets</li>
          <li>total non-current assets</li>
          <li>total assets</li>
          <li>Proceeds from disposal of property, plant and equipment</li>
          <li>Current maturities of bank loans</li>
          <li>Total current liabilities</li>
          <li>Total liabilities</li>
          <li>Sales and Revenue</li>
          <li>Selling Expenses</li>
          <li>General and administrative expenses</li>
          <li>Total net cash flows received from (used in) operating activities</li>
        </ul>
      </li><br>
      <li>
        <strong class="text-gray-600">Can you add [insert line item] to Fintor?</strong><br>
        I'll be glad to add the line item! Please open an issue in <a href="https://github.com/sarahsau/fintorBEI">Github</a>.
      </li><br>
      <li>
        <strong class="text-gray-600">Help! I found an error/I'm stuck </strong><br>
         Make sure that you have opened the downloaded file then saved it, before uploading to Fintor. If the error persists, please open an issue in <a href="https://github.com/sarahsau/fintorBEI">Github</a> and share all the files and error details.
      </li><br>
    </ol>
    <br>

    <span class="underline"><%= link_to ' Back to home', root_path %></span>
  </div>
</div>

<%= render 'converters/footer' %>
